node_modules
.env
.env.*
!.env.example
dist
coverage
.cache
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

prisma/dev.db
prisma/*.db

deploy-discloud.zip
deploy-temp

SITE/**/node_modules
SITE/frontend/.next

